body {
	background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2016/11/29/1057025/84d8e269adecf142a42922d9fd971c5b.jpg");
	background-size: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.postLinks a {
	color: white;
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	color: white;
}
